[user]
	email = dinneyacharles007@gmail.com
	password = ############
	username = unitz007
	name = charles
[filesystem "Private Build|1.8.0_222|/dev/sda2"]
	timestampResolution = 1001 microseconds
	minRacyThreshold = 0 nanoseconds
[core]
	autocrlf = input
[credential]
	helper = store
