# ignore oh-my-zsh custom directory
.oh-my-zsh/custom
.config/zed
.config/fish
.config/iterm2
iterm
.config/helix
.config/filezilla
.config/github-copilot
.config/linode-cli
.config/neofetch/config.conf

#IDE directories
.idea
